<!DOCTYPE html>
<head>
	<title>My project</title>
<link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<html>
<body>
<div class="header d-flex  justify-content-between bg-secondary mb-3">
    <div class="userIcon" > hello , {{username}} </div>
    <a class="userIcon font-weight-bold" href="/login">Logout</a>
 </div>
<form action="/set" method="POST">
	<label> key </label>
	<input type="hidden" name="username" value={{username}}>
	<input type="text" name="key" value={{request.form.key}}>
	<label> value </label>
	<input type="value" name="value" value={{request.form.value}}>
	<button type="submit" class="addButton" value="add"> add </button>
	
</form>
{% for post in posts %}
  <div class="d-flex">
    <div class="userIcon keyClass" >{{ post.key }} </div> 
    <div class="userIcon keyClass" > :: </div>
    <div class="userIcon  valueClass font-weight-bold"  >{{ post.value }} </div>
</div>
{% endfor %}



</body>
</html>